{% extends "_base.html" %}
{% load i18n %}

{% block extraJS %}
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}

{% block content %}
<p>{% trans "Got questions, comments, or suggestions?" %}</p>
<p>{% trans "Send an email to:" %} <a href="mailto:contact@mzcompare.com">contact@mzcompare.com</a></p>
<p>{% trans "You can also leave a message in my Guestbook in ManagerZone, username: jreyes33." %}</p>
<br />
<div id="social">
    <iframe src="http://www.facebook.com/plugins/likebox.php?locale={{ langFB }}&href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FMZCompare%2F244160962276590&amp;width=300&amp;colorscheme=light&amp;show_faces=false&amp;border_color&amp;stream=false&amp;header=false&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:62px;" allowTransparency="true"></iframe>
    <g:plusone size="tall" href="http://www.mzcompare.com"></g:plusone>
</div>
{% endblock %}